header
{
    background-color: #A6A6A6;
    height: 150px;
}
#top{
    display: flex;
}
#log{

}
div img{
    width: 60px;
    margin: 20px;
}
div .log{
    display: flex;
    justify-content: center;
}
nav ul{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    gap: 10px;
    font-size: x-large;
    background-color: #8f8c8c;

}
div h1{
    color: #000;
    text-align: center;
}
#portada{
    background-image: url(./Fotos/Foto\ 2.JPG);
    background-repeat: no-repeat;
}
#Panel-1{
    background-color: #8f8c8c;
    height: 800px;
}
#P-1{
    display: inline;
}
.textos{
    text-align: justify;
    text-align: left;
    line-height: 5px;
}
.box{
    background-color: bisque;
    width: 80px;
    margin: 20px;
}